/** CSS Imports */
@import 'elements.css';
@import 'fonts.css';
@import 'variables.css';
@import 'Header_Footer/header.css';
@import 'Header_Footer/footer.css';
@import 'variables.css';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');

/** Configurações Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    background-color: var(--white);
}

main {
    margin-bottom: 40px;
}

li a {
    display: block;
}