/** CSS Imports */
@import 'elements.css';
@import 'fonts.css';
@import 'variables.css';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');

/** Configurações Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: var(--white);
}

main {
    margin-bottom: 40px;
}

li a {
    display: block;
}

/** Navbar */
header {
    position: sticky;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 85px;
    align-content: center;
    background-color: var(--white);
    padding: 0 40px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav .logo-container img {
    width: 60px;
}

header ul.menu-list {
    display: flex;
}

header ul.menu-list li {
    list-style: none;
    transition: background-color ease 0.6s;
}  

header ul.menu-list li:hover:not(.close-sidebar) {
    background-color: var(--orange-100);
    border-bottom: solid 2px var(--orange-500);
}

header ul.menu-list li > a {
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
    text-decoration: none;
    padding: 12px;
}

header button.toggle-menu {
    width: 50px;
    height: 50px;
    background-color: var(--white);
    border: solid 1.5px var(--black);
    border-radius: 25%;
}

header button.toggle-menu > i {
    font-size: 18px;
    color: var(--black);
}

/** Sidebar */
.sidebar {
    display: none;
}

.sidebar ul {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    flex-direction: column;
    background-color: var(--white);
    box-shadow: -2px 0px 12px rgba(0, 0, 0, 0.3);
}

.sidebar ul li > a {
    font-size: 20px;
}

.sidebar ul li:first-child {
    margin: 20px 0 12px 0;
}

.sidebar ul li:first-child button {
    border: none;
    background-color: var(--white);
    padding: 0 12px;
}

.sidebar ul li:first-child button > img {
    width: 24px;
}

/** Footer */
footer {
    bottom: 0;
    left: 0;
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    box-sizing: border-box;
    height: auto;
    padding: 20px;
    background-color: var(--bg-footer);
}

.footer-logo-container,
.footer-contact-info,
.footer-social-media {
    flex: 1;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.footer-logo-container img {
    max-width: 100px;
    display: block;
    margin-bottom: 10px;
}

.footer-logo-container img:last-child {
    max-width: 130px;
    margin-left: 12px;
}

.footer-contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.footer-social-media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer-contact-info h2,
.footer-social-media h2 {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    color: var(--white);
    margin-bottom: 15px;
}

.contact-info-list,
.social-media-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
    color: var(--white);
    border-left: solid 2px var(--orange-500);
}

.contact-info-list li {
    margin: 16px 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
}

.contact-info-list li a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-info-list li a:hover {
    color: var(--orange-500);
}

.contact-info-list i {
    color: var(--orange-500);
    margin-right: 10px;
    font-size: 18px;
}

.social-media-list {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}

.social-media-list li {
    margin-left: 12px;
}

.social-media-list li a {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 44px;
    height: 44px;
    text-decoration: none;
    color: var(--white);
    font-size: 24px;
    border-radius: 50%;
    border: 1px solid var(--white);
    transition: all ease 0.3s;
}

.social-media-list li a:hover {
    border: 1px solid var(--orange-500);
    background-color: var(--orange-500);
    color: var(--white);
}

/** Responsividade */

/* Tablet */
@media (min-width: 768px) {
    .responsive-btn {
        display: none;
    }
}

@media (max-width: 768px) {
    header.header {
        align-content: center;
    }

    .fixed-menu {
        display: none;
    }

    .responsive-btn {
        display: flex;
    }

    footer {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .footer-logo-container,
    .footer-contact-info,
    .footer-social-media {
        flex: none;
        width: 100%;
        text-align: center;
    }

    .footer-social-media {
        align-items: center;
    }

    .social-media-list {
        justify-content: center;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .footer-logo-container img {
        max-width: 80px;
    }

    .contact-info-list li {
        font-size: 12px;
        margin: 12px 8px;
    }

    .contact-info-list i {
        font-size: 16px;
    }

    .social-media-list li a {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }

    .footer-contact-info h2,
    .footer-social-media h2 {
        font-size: 18px;
    }
}
