@import '../../global/globals.css';
@import 'partials/about-text.css';
@import 'partials/about-cards.css';
@import 'partials/about-video.css';

.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.about-us-text, .about-columns, .about-video {
    margin-bottom: 56px;
}
