@import '../../global/globals.css';
.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.about-us-text, .about-columns, .about-video {
    margin-bottom: 32px;
}


main h2 {
    margin-bottom: 12px;
}

main .about-us-text h2::after {
    content: "";
    display: block;
    position: relative;
    width: 50px;
    height: 3px;
    background-color: var(--orange-500);
}

main .about-columns h2::after {
    content: "";
    display: block;
    position: relative;
    width: 50px;
    height: 3px;
    background-color: var(--orange-500);
} 

p {
    line-height: 1.6;
    margin-bottom: 10px;
}

.about-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-columns div {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    background-color: var(--orange-100);
    box-shadow: var(--hover-shadow);
    transform: var(hover-translate);
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.about-columns div:first-child {
    margin-left: 0;
}

.about-columns div:last-child {
    margin-right: 0;
}

.about-video {
    text-align: center;
}

.about-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.about-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 900px) {
    .about-columns {
        flex-direction: column;
        align-items: center;
    }

    .about-columns div {
        max-width: 100%;
        margin: 10px 0;
    }
}