body {
    background-color: #f8f9fa;
}

.contact-section {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #FF9800;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-info ul {
    list-style: none;
}

.contact-info ul li a {
    text-decoration: none;
    color: var(--black);
}

.contact-info li, .contact-info li > a {
    font-size: 1.2rem;
    margin: 10px 0;
}

.map-container {
    margin-top: 20px;
}

iframe {
    width: 100%;
    height: 450px;
    border: 0;
    border-radius: 10px;
}